.todo {
    width: 100%;
    height: 70px;
    border: 1px solid #E8ECEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    background: #F1F3F4;
    position: relative;
}
.nameBtnWrapper {
    display: flex;
    align-items: center;
}
.completedBtn {
    border: 1px solid #CFCFCF;
    height: 19px;
    width: 19px;
    margin: 0 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.completedBtn:hover {
    cursor: pointer;
}
.dueDateWrapper {
    margin: 0 20px;
}
.dueDateHeading {
    text-align: right;
    font-size: 10px;
    line-height: 14px;
}
.dueDate {
    text-align: right;
    font-size: 16px;
    line-height: 22px;
}
.todoTitle {
    font-size: 18px;
}
.categoryHeading {
    font-size: 12px;
}
.completedTodo {
    background-color: #fff;
}
.completedTodoTitle {
    text-decoration: line-through;
}

